/*  */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #000000;
    color: grey;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;

}

.main-section-um {
    text-align: center;
    margin: 20px;
    padding-top: 20px;
}

.main-section-um h1 {
    font-size: 68px;
    color: white;
}

.main-section-um p {
    padding: 20px;
}

.main-section-dois {
    margin: 20px;
    padding: 20px;    
}

footer {
    text-align: center;
    margin: 20px;
    padding-top: 15px;
}